<template name="displayElement">
  <div class="row" style="padding-left:10px">

     {{#if edit}}
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" style="padding:5px">
             <div class="thumbnail zoomIn animated">

                <div>
                  {{> elementForm}}
                </div>

             </div>
         </div>
     {{/if}}
     {{#if specialedit}}
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" style="padding:5px">
             <div class="thumbnail zoomIn animated">

                <div>
                  {{> elementForm specialedit=specialedit}}
                </div>

             </div>
         </div>
     {{/if}}
      {{#each device in team}}
        {{alerts device._id}}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 " style="padding:5px">
          <div class="thumbnail zoomIn animated">

             <div class="row nomargin">
                      <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                            <a href="{{#if edit}}elementedit{{else}}element{{/if}}/{{device._id}}"><img class="thumbnailimg" style="width:100%" src="/img/repetidor.svg" alt="image" /></a>
                       </div>
                       <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                           <div class="row">
                             <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                               <a href="{{#if edit}}elementedit{{else}}element{{/if}}/{{device._id}}">
                                 <p class="text-center bigger"><b>{{device.nombre}}</b></p>
                               </a>
                             </div>
                             <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                               <a href="{{#if edit}}elementedit{{else}}element{{/if}}/{{device._id}}">
                                 <p class="text-center smalltitle"><b>Numero Sitio</b></p> <p class="text-center bigger">{{device.Settings.networkpar.sitenumber}}</p>
                               </a>
                             </div>
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                               <a href="{{#if edit}}elementedit{{else}}element{{/if}}/{{device._id}}">
                                 <p class="text-center smalltitle"><b>IP/Puerto</b></p> <p class="text-center bigger">{{device.Settings.networkpar.repeaterip}}:{{device.Settings.networkpar.repeateripport}}</p>
                               </a>
                             </div>
                           </div>
                      </div>

                      </div>
                      {{#if edit}}
                            <div class="row nomargin">
                              <div  class="caption elementbuttons">
                                <a href="#" ><i id="editTeamMember" class="mdi mdi-pencil" style="color:black;">Editar</i></a>  <a href="#" ><i id="deleteTeamMember" class="mdi mdi-delete" style="color:black">Borrar</i></a>
                              </div>
                            </div>
                      {{/if}}
              </div>

          </div>
      </div>
      {{/each}}
      <div class="col-md-6"></div>
  </div>

</template>
