<template name="mapmodule">
    <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad nomargin">
     <div class="generalElementDiv">
       <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill nopad nomargin">
         <div class="content" style="margin:0px;padding:0px;">
          {{>maptemplate}}
       </div>
     </div>
     </div>
    </div>
</template>
