<template name="maptemplate">
  <div class="mapbox h-fill" id="mymapbox" >

        <div id="draggablediv" class="map h-fill">
              <div id="zooming" name="zooming" >
                  <img class="resize" src="/img/4.jpg" id="map">
                  <p id="test_circle1" style="top:300px; left:300px;">x</p>
                  <div class="m_elementx" id="test_togletableb1" style="top:300px; left:300px;" >
                      <i class="mdi mdi-map-marker-radius mapicon"></i>
                  </div>
              </div>
        </div>
  </div>
</template>
