<template name="drsGraphics">
  <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad">
   <div class="generalElementDiv">
     <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill scroller">
       <div class="content">
         <div class="row">
            <div id="myChart" class="mychart" style="width:100%; height:400px;">
            <div class="spinningCircleContainer ">
                <div class="spinningCircle"></div>

                <p class="bigger">Sigmation</p>
                <p class="">Loading Chart Data</p>
            </div>
          </div>
         </div>
         {{getStats}}
      </div>
     </div>
   </div>
  </div>
</template>
