<template name="appbody">
  {{#if $not currentUser}}
      {{>fixedbackground}}
      {{>login}}
  {{else}}
      {{#if dissabledUser}}
          {{>upperbar}}
          {{>accountalert}}
      {{else}}
          {{>floatingAlert}}
          {{>fixedbackground}}
          {{>floatmenu}}
          {{>upperbar}}
         <div class="row h-100">
           {{>navbar}}
           {{> yield}}
         </div>
         {{>bottombar}}
      {{/if}}
  {{/if}}
  {{> meteorStatus}}
</template>
