<template name="mqttElement">
  <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad">
   <div class="generalElementDiv ">
     <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill scroller">
       <div class="roundBack">
         <a class="navbar-brand brandlink" id='backAction' href="#" data-action=back><i class="mdi mdi-arrow-left"></i></a>
       </div>

       <div class="content">
         <div class="row">

           <div class="col-xs-12  col-sm-4  col-md-3  col-lg-3">
             {{>repeaterstatics thisedit=edit displayelement=displayMqttListSearch}}
           </div>

           <div class="col-xs-12  col-sm-8  col-md-9  col-lg-9">
             <div class="row">
                 <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12">
                   <div class="panel-group thumbnail elemform {{#if elementgroup.__alarm}}alarm{{/if}}">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <h4 class="panel-title">
                                       <a data-toggle="collapse" href="#collapseconfig">
                                       <i class="fa fa-cog fa-lg fa-fw"></i>
                                           Device Config
                                      </a>
                               </h4>
                           </div>
                       </div>
                       <div id="collapseconfig" class="panel-collapse collapse">
                         <div class="panel-body">
                                 <div class="row nomargin">
                                   {{>repeaterconfigs thisedit=edit displayelement=displayMqttListSearch}}
                                 </div>
                               </div>
                           </div>
                   </div>

                 </div>
                 <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12">
                   {{>subelementgroups thisedit=edit displayelement=displayMqttListSearch}}
                 </div>
             </div>

           </div>

         </div>

     </div>
   </div>

   </div>
 </div>
</template>
