<template name="upperbarhead">
  <div class="navbar-header ">
    <!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"-->

    <button type="button" class="navbar-toggle collapsed whitelinks" onclick="openfloatmenu()" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar whitecolor"></span>
      <span class="icon-bar whitecolor"></span>
      <span class="icon-bar whitecolor"></span>
    </button>
    <a class="navbar-brand brandlink" href="/"><img alt="Brand" src="/img/favicon_complete.svg" class="brandicon"></a>
  </div>

  <script>
      function openfloatmenu(){
        document.getElementById("floatmenu").style.width = "-webkit-fill-available";
        document.getElementById("floatmenu").style.marginLeft = "0px";
      }
  </script>
  </template>
