<template name="floatingAlert">
  {{#if setAlarmVarValue}}
  <div class="row ">
    <div id="floatingAlert" class="{{#if setAlarmVarValue}}shake animated{{else}}fadeIn animated{{/if}} alert alert-danger col-xs-11  col-sm-11  col-md-9  col-lg-9 " role="alert" style="position:absolute !important;bottom:10px;right:10px;z-index:100;">
      <button type="button" class="close"  aria-label="Close" onclick="addFloatingClass()">
        <span aria-hidden="true"><i class="mdi  mdi-swap-vertical " ></i></span>
      </button>
      <div id="alarmTitle" style="display:none">
        Received Alerts
      </div>
      <div id="alarmcontent">
        {{>alarmlist shortpaths=true}}
      </div>
    </div>
  </div>


  <script>
      function addFloatingClass(){
          //var element = document.getElementById("alarmcontent");
          //element.classList.add("slideOutRight");
              $( "#alarmcontent" ).toggle();
              $( "#alarmTitle" ).toggle();
      }
  </script>
  {{/if}}


 {{#if backEndStatus}}
     <div id="criticalAlert" class="fadeIn animated obscurediv">
       <button type="button" class="close "  aria-label="Close" onclick="closeClass()">
         <span class="hideCriticalButton" aria-hidden="true">&times;</span>
       </button>
       <div id="serveralert" class="centered-element" >
           <p><b><i class="mdi mdi-alert bigicon"></i><span style="color:red">CRITICAL STATUS: Back-End OFFLINE  </span></b></p>
           <p style="font-size:10px">Waiting for back-end to reconect</p>
       </div>
     </div>
     <script>
         function closeClass(){
             var element = document.getElementById("criticalAlert");
             element.classList.add("hidden");
         }
     </script>
 {{/if}}
</template>
