<template name="mqttList">
  <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad">
   <div class="generalElementDiv">
     <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill scroller">
       <div class="content">
         {{>displayMqttListTemplate displayelements=displayMqttList}}
     </div> 
   </div>
   </div>
  </div>
</template>
