<template name="limpsum">
  <div id="lipsum">
  <p class="cont_bajada opensans">
    SIGMA ha provisto soluciones de comunicaciones en más de 1.000 minas y túneles distribuidos en los 5 continentes.
    Aportamos innovación y la experiencia de más de 40 años diseñando e instalando Sistemas de Comunicaciones, a bajo costo y alto rendimiento.
    Proporcionamos, además, el valor agregado para integrar soluciones de seguridad y productividad, sobre plataformas de comunicación de última tecnología,
    que otorgan a su Empresa una clara ventaja competitiva.</p>
  <p>
    SIGMA es uno de los primeros fabricantes del Sistema Leaky Feeder, el cual es ampliamente utilizado por su confiabilidad en comunicaciones subterráneas,
    e inició sus operaciones en Sudáfrica el año 1974. Desde entonces ha desarrollado permanentes innovaciones a este Sistema de Comunicación, para proveer
    a la Industria minera y de espacios confinados con la más avanzada tecnología. Es así como a través de los años ha suministrado a los principales fabricantes
    de estos Sistemas los elementos y partes que componen el cuore de los equipos, además de fabricar bajo la marca SIGMA continuas versiones que incorporan los
    últimos requerimientos de nuestros Clientes a través del mundo. Desde el año 2010 está presente en Latinoamérica con su base de operaciones en la
    Ciudad de Concon, Chile.</p>
</div>
</template>
