<template name="dolfpollinglistt">

  {{#each element in formCollectionMs}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " style="padding:5px">

      <div class="thumbnail zoomIn animated" >
         <div class="row nomargin">
                  <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                            <a class="centeredText"  href="#">
                                <i class="mdi mdi-server-network" style="font-size:75px;max-height:100px;vertical-align: -webkit-baseline-middle;"></i>
                            </a>
                       </div>
                       <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                           <div class="row">
                             <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                               <a  href="#">
                                 <p class="text-center bigger"><b>{{element.devicename}}</b></p>
                               </a>
                             </div>
                             <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                               <a  href="#">
                                 <p class="text-center smalltitle"><b>Class</b></p> <p class="text-center bigger">{{MBClass element.classd}}</p>
                               </a>
                             </div>
                             <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                               <a  href="#">
                                 <p class="text-center smalltitle"><b>ModBus Address</b></p> <p class="text-center bigger">{{element.mbaddress}}</p>
                               </a>
                             </div>
                             <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                               <a  href="#">
                                 <p class="text-center smalltitle"><b>IP Address</b></p> <p class="text-center bigger">{{element.ip}}</p>
                               </a>
                             </div>
                             <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                               <a  href="#">
                                 <p class="text-center smalltitle"><b>Details</b></p> <p class="text-center bigger">{{element.details}}</p>
                               </a>
                             </div>
                           </div>
                      </div>

                  </div>
                  <div class="row nomargin ">
                    <div  class="caption elementbuttons">
                      <a href="#" class="controldiv"><i id="editTeamMember" class="mdi mdi-pencil" style="color:white;">Edit</i></a>   <a href="#" class="controldiv marginleft">
                        <i id="deleteTeamMember" class="mdi mdi-delete" style="color:white">Delete</i></a>
                    </div>
                  </div>
          </div>

      </div>
  </div>
  {{/each}}
  <div class="col-md-6"></div>

</template>
