<template name="pollinglisttemplate">
  <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad nomargin">
   <div class="generalElementDiv">
     <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill nopad nomargin">
       <div class="content" >
         <div class="thumbnail zoomIn animated">
              {{>pollinglist}}
         </div>
         <div class="row" style="padding-left:10px">
           {{#if evalSystem "DOLF"}}
             {{>dolfpollinglistt }}
           {{else}}
             {{#if evalSystem "DRS"}}
               {{>drspollinglistt}}
             {{else}}

             {{/if}}
           {{/if}}
     </div>
   </div>
   </div>
  </div>
  </div>
</template>
