<template name="mqttsubelementtemplate">
  <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad">
   <div class="generalElementDiv ">
     <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill scroller">
       <div class="roundBack">
         <a class="navbar-brand brandlink" id='backAction' href="#" data-action=back><i class="mdi mdi-arrow-left"></i></a>
       </div>

       <div class="content">
         <div class="row">

           <div class="col-xs-12  col-sm-4  col-md-3  col-lg-3">
             {{>repeaterstatics thisedit=edit displayelement=displaySubMqttListSearch subelement=true substats=getSubStats}}
           </div>

           <div class="col-xs-12  col-sm-8  col-md-9  col-lg-9">
             <div class="row">
                 <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12">
                   {{>repeaterconfigs thisedit=edit displayelement=displaySubMqttListSearch}}
                 </div>
             </div>

           </div>

         </div>

     </div>
   </div>

   </div>
 </div>
</template>
