<template name="config">
  <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad">
   <div class="generalElementDiv">
     <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill scroller">
       <div class="roundBack">
         <a class="navbar-brand brandlink" id='backAction' href="#" data-action=back><i class="mdi mdi-arrow-left"></i></a>
       </div>
       <div class="content">
         {{#if evalSystem "DOLF"}}
          {{>modbusconfig}}
         {{/if}}
         {{>usersconfig}}
     </div>
   </div>
   </div>
 </div>
</template>
