<template name="classconfig">
  <div class="col-xs-12  col-sm-12  col-md-9  col-lg-10 nopad">
   <div class="generalElementDiv">
     <div class="col-xs-12  col-sm-12  col-md-12  col-lg-12 h-fill scroller">
       <div class="roundBack">
         <a class="navbar-brand brandlink" id='backAction' href="#" data-action=back><i class="mdi mdi-arrow-left"></i></a>
       </div>
       <div class="content">
         <div class="panel-group elemform">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4 class="panel-title">
                         <a data-toggle="collapse" href="#collapse1">
                             <i class="mdi mdi-view-dashboard"></i>
                             Nuevo Grupo de Datos
                         </a>
                     </h4>
                 </div>
                 <div id="collapse1" class="panel-collapse collapse">
                     <div class="panel-body">
                         {{> quickForm collection=DataGroups id="insertGroup" type="insert"}}
                     </div>
                 </div>
             </div>
         </div>

         <div class="row" style="padding-left:10px">
             {{#each element in modbusDeviceGroups}}
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " style="padding:5px">

                 <div class="thumbnail zoomIn animated" >
                    <div class="row nomargin">
                             <div class="row">
                                   <div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                                       <a class="centeredText"  href="/config/modbusclass/{{classId}}/group/{{element._id}}/">
                                           <i class="mdi mdi-server-network" style="font-size:75px;max-height:100px;vertical-align: -webkit-baseline-middle;"></i>
                                       </a>
                                  </div>
                                  <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                      <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                          <a  href="/config/modbusclass/{{classId}}/group/{{element._id}}/">
                                            <p class="text-center bigger"><b>{{element.name }} ({{element.tag}})</b></p>
                                          </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                          <a  href="/config/modbusclass/{{classId}}/group/{{element._id}}/">
                                            <p class="text-center smalltitle"><b>Detalles</b></p> <p class="text-center bigger">{{element.details}}</p>
                                          </a>
                                        </div>
                                      </div>
                                 </div>

                             </div>
                             <div class="row nomargin ">
                               <div  class="caption elementbuttons">
                                 <a href="#" class="controldiv"><i id="editmdclass" class="mdi mdi-pencil" style="color:white;">Editar</i></a>  <a href="#" class="controldiv marginleft"><i id="deletembclass" class="mdi mdi-delete" style="color:white">Borrar</i></a>
                               </div>
                             </div>
                     </div>

                 </div>
             </div>
             {{/each}}
             <div class="col-md-6"></div>
         </div>
     </div>
   </div>
   </div>
 </div>
</template>
