<template name="usercases">
  <a href="/equipos" >
    <i class="mdi mdi-format-list-bulleted-type " ></i>
    <p> Devices</p>
  </a>
  <a href="/pollinglist" >
    <i class="mdi mdi-poll-box  " ></i>
    <p> PollingList</p>
  </a>
  <a href="/alarms" >
    <i class="mdi mdi-alert  " ></i>
    <p> Alarms</p>
  </a>
</template>
